* {
  box-sizing: border-box;
}

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@font-face {
  font-family: dinbold;
  src: url("https://s1.huangchengtuo.com/fonts/dinbold.woff");
}

.din-font {
  font-family: dinbold, sans-serif;
}

@font-face {
  font-family: roboto;
  src: url("https://s1.huangchengtuo.com/fonts/Roboto-Medium-12.ttf");
}

.roboto-font {
  font-family: roboto, sans-serif;
}

.jcsa {
  display: flex;
  justify-content: space-around;
}

.jcsb {
  display: flex;
  justify-content: space-between;
}

.aic {
  display: flex;
  align-items: center;
}