* {
  box-sizing: border-box;
}

@font-face {
  font-family: dinbold;
  src: url("./dinbold.woff");
}

.number-font {
  font-family: dinbold, sans-serif;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.space-between {
  display: flex;
  justify-content: space-between;
}